In [2]:
a=input('Insert a string-')
if len(a)>0:
    print(a)
else:
    print("Forgot to enter a string")

# a is a variable that has a string. In this case user did not give any input so a message 'Forgot to enter a string' is printed.

Insert a string-
Forgot to enter a string

In [113]:
a=input('Insert a string-')
if len(a)>0:
    print(a)
else:
    print("Forgot to enter a string")

Insert a string-My name is Sagar Vasaikar. I am currently enrolled in Rutgers Business School.
My name is Sagar Vasaikar. I am currently enrolled in Rutgers Business School.

In [114]:
# Let us find out how many charachters are there in the string.
print(len(a))

78

In [115]:
# let us find out the count of a particular alphabet 'r' in the string.
a.count('r')

6

In [116]:
# Let us convert the string into lower case
print(a.lower())

my name is sagar vasaikar. i am currently enrolled in rutgers business school.

In [117]:
# Let us convert the string into upper case
print(a.upper())

MY NAME IS SAGAR VASAIKAR. I AM CURRENTLY ENROLLED IN RUTGERS BUSINESS SCHOOL.

In [119]:
# Let us convert the string into title  format.
print(a.title())

My Name Is Sagar Vasaikar. I Am Currently Enrolled In Rutgers Business School.

In [120]:
i=0
for b in a:
    print(i,b)
    i=i+1
    # We used iteration to find the index number for each charachters in the string.

0 M
1 y
2
3 n
4 a
5 m
6 e
7
8 i
9 s
10
11 S
12 a
13 g
14 a
15 r
16
17 V
18 a
19 s
20 a
21 i
22 k
23 a
24 r
25 .
26
27 I
28
29 a
30 m
31
32 c
33 u
34 r
35 r
36 e
37 n
38 t
39 l
40 y
41
42 e
43 n
44 r
45 o
46 l
47 l
48 e
49 d
50
51 i
52 n
53
54 R
55 u
56 t
57 g
58 e
59 r
60 s
61
62 B
63 u
64 s
65 i
66 n
67 e
68 s
69 s
70
71 S
72 c
73 h
74 o
75 o
76 l
77 .

In [121]:
# Let us join R B S in the string.(concat)
print ('R'+'B'+'S')

RBS

In [122]:
#Let us access first charachter in the string.
print(a[0])

M

In [123]:
#Let us access last charachter in the string.
print(a[-1])

.

In [124]:
# Let us split the given string into  a list.
b=a.split(' ')
print(b)

['My', 'name', 'is', 'Sagar', 'Vasaikar.', 'I', 'am', 'currently', 'enrolled', 'in', 'Rutgers', 'Business', 'School.']

In [125]:
#Let us determine how many items are there in this list.
print(len(b))

13

In [126]:
#Let us access the items in the list. for now first name
print(b[3])

Sagar

In [127]:
# Let us change the first name in the list
b[3]='Saggy'
print(b)

['My', 'name', 'is', 'Saggy', 'Vasaikar.', 'I', 'am', 'currently', 'enrolled', 'in', 'Rutgers', 'Business', 'School.']

In [129]:
#Let us delete the last name in the list.
b.remove("Vasaikar.")
print(b)

['My', 'name', 'is', 'Saggy', 'I', 'am', 'currently', 'enrolled', 'in', 'Rutgers', 'Business', 'School.']

In [130]:
#Let us reverse the items in the list.
b.reverse()
print(b)

['School.', 'Business', 'Rutgers', 'in', 'enrolled', 'currently', 'am', 'I', 'Saggy', 'is', 'name', 'My']

In [131]:
#Let us pop the last item in the list
b.pop()
print(b)

['School.', 'Business', 'Rutgers', 'in', 'enrolled', 'currently', 'am', 'I', 'Saggy', 'is', 'name']

In [170]:
#Let us add the poped item again in the list.
b.insert(9,'My')
print(b)

['School.', 'Business', 'Rutgers', 'in', 'enrolled', 'currently', 'am', 'I', 'name', 'My']

In [160]:
#Let us take new example to understand sorting in list
c=["Zebra", "Dog", "Goat", "Cat"]
c.sort()
print(c)

['Cat', 'Dog', 'Goat', 'Zebra']

In [137]:
#Let us sort the list based on number of vowels in the word or animals.

sorted(c,
       key=lambda c: sum(ch in 'aeiou' for ch in c),
       reverse=False)

['Cat', 'Dog', 'Goat', 'Zebra']

In [180]:
#Let us build a dict
dict= {
 "name":"Sagar",
 "age" : 23,
 "gender":"male",
"country" : "India"}
print (dict)

{'name': 'Sagar', 'age': 23, 'gender': 'male', 'country': 'India'}

In [139]:
#Let us access values from the dicts
z = dict["gender"]
print(z)

male

In [181]:
#Let us change the value of age in the dict
dict["age"]=24
print(dict)

{'name': 'Sagar', 'age': 24, 'gender': 'male', 'country': 'India'}

In [145]:
#Let us check the length of the dict
print(len(dict))

4

In [182]:
#Let us add and del the values in the dict
dict["phone no"] = 8622563189
del dict["gender"] 
print(dict)


#CITATION
#https://www.techbeamers.com
#https://codeburst.io/python-basics
#https://stackoverflow.com

{'name': 'Sagar', 'age': 24, 'country': 'India', 'phone no': 8622563189}